index.html

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Meu App Flask</title>
</head>
<body>
   <script> 
    const user = admin
    const pws = admin123

    const userDigitado = document.getElementById('usuario').value()
    const pwdDigitado = document.getElementById('senha').value()

    if(user === userDigitado && pwd === pwdDigitado){
        alert('Login realizado com sucesso!')
    } else {
        alert('Usuário ou senha incorretos')
    }
    </script>
    
</body>
</html>
