index.html

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Meu App Flask</title>
</head>
<body>
    <from>
        <p>Usuário</p>
        <input type="text" id="usuario" placeholder="digite seu usuário...">
        <p>Senha</p>
        <input type="password" id="senha" placeholder="Digite sua senha...">
        <button type="submit">entrar</button>
    </from>
   <script> 
    const user = admin
    const pws = admin123

    const userDigitado = document.getElementById('usuario').value()
    const pwdDigitado = document.getElementById('senha').value()

    if(user === userDigitado && pwd === pwdDigitado){
        alert('Login realizado com sucesso!')
    } else {
        alert('Usuário ou senha incorretos')
    }
    </script>
    
</body>
</html>
